<form [formGroup]="fileForm" autocomplete="off" novalidate (ngSubmit)="doAction()" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field >
    <input  placeholder="{{action}} Name*" matInput [(ngModel)]="local_data.name" formControlName="name">
  </mat-form-field>

  &nbsp;&nbsp;

  <mat-form-field>
    <mat-label>File Type*</mat-label>
    <select  matNativeControl [(ngModel)]="local_data.fileType" formControlName="fileType">
      <option [value]="null" disabled>Choose your File Type</option>
      <option *ngFor="let fileType of fileTypes" [value]="fileType.id">{{fileType.type}}</option>
    </select>
  </mat-form-field>

  &nbsp;&nbsp;

  <mat-form-field >
    <input type="number" class="example-right-align" placeholder="File Size*" matInput [(ngModel)]="local_data.fileSize" formControlName="fileSize">
  </mat-form-field>

  &nbsp;&nbsp;

  <mat-form-field >
    <input placeholder="Author" matInput [(ngModel)]="local_data.author" formControlName="author">
  </mat-form-field>

  &nbsp;&nbsp;

  <mat-form-field>
    <!--<input matInput [matDatepicker] = "picker" placeholder = "Choose a date">
    <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>-->
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="local_data.dateAuthoring" formControlName="dateAuthoring">
    <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </mat-form-field>

 &nbsp;&nbsp;

 <mat-checkbox class="example-margin" [(ngModel)]="local_data.isEncrypted" formControlName="isEncrypted">
	<label>Is Encrypted </label>
</mat-checkbox>

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="doAction()">{{action}}</button>-->
  <button mat-raised-button color="primary" [disabled]="!fileForm.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
</form>